@import 'bootstrap/dist/css/bootstrap.min.css';

/* Your custom styles go here */
body {
  background-color: black;
  color: white;
}

/* Add the following styles for the sidebar */
main {
  flex: 1; /* Ensure main content takes remaining width */
}

/* Style for the sidebar */
aside {
  background-color: #374151; /* Gray background color */
  flex-shrink: 0; /* Prevent sidebar from growing */
  width: 25%; /* Set the desired width for the sidebar */
}

/* Import Tailwind CSS after custom styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
